.container {
    width: auto;
    background-color: var(--c-secondary);
}

.music-quiz-container-title {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100%;
    color: var(--c-secondary);
    background-color: var(--c-main);
}

.music-quiz-container-title h2 {
    margin: 0px 30px 0px;
}

.music-quiz {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: var(--c-white)
}

.answears-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.anwsears-list{
    grid-area: 1 / 2 / 2 / 3;
    margin: auto;
}

/* .anwsears-list input {
    stylize this element
} */
/* 
LARGE SCREEN
*/

@media screen and (min-width: 720px) {
    .answears-container {
        grid-template-columns: 1fr 2fr 1fr;
    }

}