.container {
    width: auto;
    background-color: var(--c-secondary);
}

.container-tittle {
    display:flex;
    justify-content: space-between;
    height: 5vh;
    width: 100%;
    color: var(--c-secondary);
    background-color: var(--c-main);
}

.container-tittle h2 {
    margin: 0px 30px 0px;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.question {
    margin: 5px 10px 10px 5px;
    text-align: center;
}

.question-answears {
    text-align: center;
}