.container {
    width: auto;
    background-color: var(--c-secondary);
}

.container-title {
    display:flex;
    justify-content: space-between;
    height: 5vh;
    width: 100%;
    color: var(--c-secondary);
    background-color: var(--c-main);
}

.container-title h2 {
    margin: 0px 30px 0px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-template-rows: 4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.question {
    grid-area: 1 / 2 / 2 / 3;
    text-align:left;
}

ul {
    padding: 0px;
}

.question-input {
    height: 0.9rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.question-input:checked {
    height: 1.1rem;
    width: 1.2rem;
    border-width: 5rem;
    accent-color: rgb(57, 150, 167);
}

.question-button {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--c-main);

}

@media screen and (min-width: 720px) {
    
.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

}