.container {
    width: auto;
}

.quiz-container-title {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100%;
    color: var(--c-secondary);
    background-color: var(--c-main);
}

.quiz-container-title h2 {
    margin: 0px 30px 0px;
}

.form-container {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    /* without button delete this rows template below */
    grid-template-rows: 4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.question {
    grid-area: 1 / 2 / 2 / 3;
    text-align:left;
}

ul {
    padding: 0px;
}

.question-input {
    height: 0.9rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.question-input:checked {
    height: 1.1rem;
    width: 1.2rem;
    border-width: 5rem;
    accent-color: rgb(57, 150, 167);
}

.question-button {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--c-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-button button {
    color: var(--c-white);
    background-color: var(--c-main);
    border: none;
}

.button-container__quiz {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.button-container__quiz button {
    padding: 5px;
    color: var(--c-white);
    background-color: var(--c-main);
    width: max(46%, 120px);
    border-style: none;
    border-radius: 20px 20px 20px 20px;
    transition: width 0.5s ease;
}

.button-container__quiz button:hover {
    width: max(55%, 170px);
}

.button-container__quiz button:active {
    opacity: 0.8;
}

@media screen and (min-width: 720px) {
    
    .form-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
    }

    .button-container__quiz button {
        width: 230px;
    }

    .button-container__quiz button:hover {
        width: 290px;
    }
}