.container {
    width: auto;
}

.result-container-title {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: min(5vh);
    width: 100%;
    color: var(--c-secondary);
    background-color: var(--c-main);
}

.result-container-title h2 {
    margin: 0px 30px 0px;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dwa rzędy */
    grid-gap: 10px;
    width: 70%;
    margin-top: 20px;
    margin-inline: auto;
    background-color: var(--c-background-task);
    box-shadow: 0px 0px 13px 3px var(--c-dark);
    -webkit-box-shadow: 0px 0px 13px 3px var(--c-dark);
    -moz-box-shadow: 0px 0px 13px 3px var(--c-dark);
}

.data-container p {
    margin: auto;
    color: var(--c-dark);
}

.data-result {
    font-size: 1.23rem;
    grid-column: span 2;
    text-align: center;
}

.data-container span {
    color: var(--c-dark);
    font-style: italic;
}

.button-container__result {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.button-container__result button {
    padding: 5px;
    color: var(--c-white);
    background-color: var(--c-main);
    width: max(46%, 120px);
    border-style: none;
    border-radius: 20px 20px 20px 20px;
    transition: width 0.5s ease;
}

.button-container__result button:hover {
    width: max(55%, 170px);
}

.button-container__result button:active {
    opacity: 0.8;
}

@media screen and (min-width: 720px) {
    
    .button-container__result button {
        width: 230px;
    }

    .button-container__result button:hover {
        width: 290px;
    }

}