.container {
    width: auto;
    /* background color for all containers */
    background-color: var(--c-background);
}

.data-container-tittle {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100%;
    color: var(--c-secondary);
    background-color: var(--c-main);
}

.data-container-tittle h2 {
    margin: 0px 30px 0px;
}

.expand-more-button {
    color: var(--c-secondary);
    background: none;
    border: none;
    /* border-color: var(--c-secondary); */
    cursor: pointer;
    margin: 0px 30px 0px;
    /* zoom property isnt perfect to resize this button --> have to change in future! */
    zoom: 150%;
}

/* div containers in this <form> */

.form-name {
    margin: 5px 20px 5px;
}

.form-surname {
    margin: 5px 20px 5px;
}

.form-date {
    margin: 5px 20px 5px;
}

.form-gender {
    margin: 5px 20px 5px;
}

.form-job {
    margin: 5px 20px 5px;
}

.form-avatar {
    margin: 5px 20px 5px;
}

/*  --------------------------- */

.form-job__buttons {
    width: 100%;
}

.form-instruction {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c-dark);
}

.form label {
    margin: 7px 7px 7px;
    color: var(--c-dark);
}

.form input {
    font-weight: var(--t-thin);
    border-radius: 13px;
    border: 3px solid var(--c-main);
    background-color: var(--c-background-input);
    width: 100%;
    transition: 600ms;
}

.form-gender__select {
    font-weight: var(--t-thin);
    border-radius: 13px;
    border: 3px solid var(--c-main);
    background-color: var(--c-background-input);
    width: 100%;
    transition: 600ms;
}

.form-gender__select:focus {
    outline: none;
    border-radius: 5px;
    background-color: var(--c-main);
    color: var(--c-white);
}

.form-job p {
    color: var(--c-dark)
}

.form-job button {
    font-weight: var(--t-thin);
    border: 3px solid var(--c-main);
    background-color: var(--c-background-input);
    width: 40%;
}

.form-job button:active {
    font-weight: normal;
    background-color: var(--c-main);
}

.form-job button:nth-child(1) {
    border-right: none
}

.form input:focus {
    outline: none;
    border-radius: 5px;
    background-color: var(--c-main);
    color: var(--c-white);
}

.form-job__selector {
    width: 100%;
    border: 3px solid var(--c-main);
    background-color: var(--c-background-input);
    font-weight: var(--t-thin);
    border-radius: 13px;
    transition: 600ms;
}

.form-job__selector:focus {
    outline: none;
    border-radius: 5px;
    background-color: var(--c-main);
    color: var(--c-white)
}

.form-avatar__items {
    display: flex;
    flex-direction: row;
}

.form-avatar__button {
    margin: 10px;
    padding: 3px;
    background: none;
    border: 3px solid var(--c-main);
    border-radius: 25px;
    display: flex;
    transition: 0.8s;
}

.form-avatar__button:active {
    border-color: brown;
    opacity: 0.6;
}

.form-avatar__img {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.form-avatar__button.selected {
    transform: scale(1.2);
}

/* for the future: I'd like to hide not-selected avatars --> how do it?  */
.form-avatar__button:not(.selected) {
    opacity: 0.8;;
}

.button-container__data {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.button-container__data button {
    padding: 5px;
    color: var(--c-white);
    background-color: var(--c-main);
    width: max(46%, 120px);
    border-style: none;
    border-radius: 20px 20px 20px 20px;
    transition: width 0.5s ease;
}

.button-container__data button:hover {
    width: max(55%, 170px);
}

.button-container__data button:active {
    opacity: 0.8;
}


/* 
LARGE SCREEN
*/

@media screen and (min-width: 720px)  {

    .form {
        display: flex;
        /* height: 9vh; */
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .form-row-one {
        display: flex;
        flex-direction: row;
    }
    .form-row-two {
        display: flex;
        flex-direction: row;
    }

    .form-avatar__button {
        margin: 5px;
    }

    .button-container__data button {
        width: 230px;
    }

    .button-container__data button:hover {
        width: 290px;
    }
}