.container {
    width: auto;
    background-color: var(--c-background);
}

.container-tittle {
    display:flex;
    justify-content: space-between;
    height: 5vh;
    width: 100%;
    color: var(--c-secondary);
    background-color: var(--c-main);
}

.container-tittle h2 {
    margin: 0px 30px 0px;
}

.expand-more-button {
    color: var(--c-secondary);
    background: none;
    border-color: var(--c-secondary);
    cursor: pointer;
    margin: 0px 30px 0px;
    /* zoom property isnt perfect to resize this button --> have to change in future! */
    zoom: 150%;
}

.form {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 5px;
}

.form div {
    margin: 5px 20px 5px;
}

.form-name { grid-area: 1 / 2 / 2 / 3; }
.form-surname { grid-area: 2 / 2 / 3 / 3; }
.form-date { grid-area: 3 / 2 / 4 / 3; }  

.form label {
    margin: 7px 7px 7px;
}

.form input {
    font-weight: var(--t-thin);
    border-radius: 13px;
    border: 3px solid var(--c-main);
    background-color: var(--c-background-input);
}

.form input:focus {
    border: none;
    padding: 5px;
    background-color: var(--c-main);
    color: white;
}

.form button {
    grid-area: 4 / 3 / 5 / 5;
    color: white;
    background-color: var(--c-main);
}

/* 
LARGE SCREEN
*/

@media screen and (min-width: 720px)  {

.form {
    display: flex;
    height: 20vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--c-secondary);
}

}