.intro {
    position: relative;
    height: calc(100vh - 2.8rem);
    width: 100%;
    background-color: var(--c-background);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.corner-github {
    top: -75px;
    left: -75px;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    background-color: black;
    z-index: 2;
}

.corner-github__icon {
    display: flex;
    justify-content: flex-end;
}

.corner-github__iconPic {
    width: 30%;
    margin: 4.5px;
    transform: rotate(-45deg)
}

.intro-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.intro-container__question {
    font-size: 5vw;
    /* font-size: min(300vw, 18px); */
    font-weight: 1000;
    color: var(--c-main);
    text-align: center;
}

.intro-container__button {
    font-size: 3vw;
    font-weight: 300;
    color: var(--c-secondary);
    margin: auto;
    padding: 14px 28px;
    background: none;
    border-radius: 24px;
    border: 3px solid;
    border-color: var(--c-main);
    cursor: pointer;
}
.intro-container__button:hover {
    transition: 0.5s;
    padding: 25px;

}
/* 
.background-jazz-band-img {
    position: absolute;
    opacity: 0.3;
} */