/*-----------------------------------*\
  $IMPORTS
\*-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');

/*-----------------------------------*\
  $BASE
\*-----------------------------------*/

/* DEFAULT COLORS */
/* :root {
  --c-main: #2779a7;
  --c-shadow-main: #2779a7;
  --c-secondary: #008a66;
  --c-secondary__shadow: #008a657a;
  --c-dark: #333;
  --c-white: #f8f4e9;
  --c-background: #efe2ba;
  --c-background-task: #008a66;
  --c-background-dark: #f7d7b5;
  --c-background-input: rgba(253, 253, 253, 0.685);
} */

:root {
  --c-main: #283618;
  --c-shadow-main: #283618;
  --c-secondary: #BC6C25;
  --c-secondary__shadow: #96561e;
  --c-dark: #333;
  --c-white: #f8f4e9;
  --c-background: #FEFAF0;
  --c-background-task: #BC6C25;
  --c-background-dark: #FEFAF0;
  --c-background-input: #FEFAF0;
}

/* FONTS */
:root {
  --t-main: 'Oswald', sans-serif;
  --t-thin: 300;
  --t-mid: 500;
  --t-fat: 700;
}

* {
  font-family: var(--t-main)
}

html {
  scroll-behavior:smooth;
}

body {
  min-width: 320px;
  margin: 0;
/* 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/*-----------------------------------*\
  $GENERICS
\*-----------------------------------*/


/*-----------------------------------*\
  $DARK-MODE
\*-----------------------------------*/
